html{background-color: rgb(252, 242, 230);}

#p1{
    color: chocolate;
}
div{
    background-size: cover;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtvDisCubSNV86CybGWBSoYsFU6hyvjrNk6Q&s);

}