* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.fixed-image {
    position: fixed;
    top: 10%;
    right: 10px;
    width: 100px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fixed-image img {
    width: 100%;
    height: auto;
    
}
